@model TrainerUpdateVM

<div class="container">
    <div class="row">

        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" class="form-control">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SpecialtyId"></label>
                <select asp-for="SpecialtyId" class="form-select" asp-items="@ViewBag.Specialties">
                </select>

                <span asp-validation-for="SpecialtyId" class="text-danger"></span>
            </div>



            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial"></partial>
}