@model List<SpecialtyGetVM>

<div class="container">

    <div class="row">

        <div class="col-2">
            <a class="btn btn-success" asp-action="Create">Create</a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var specialty in Model)
                {
                    <tr>
                        <th scope="row">@specialty.Id</th>
                        <td>@specialty.Name</td>
                        <td>
                            <a asp-action="Update" asp-route-id="@specialty.Id" class="btn btn-warning">Update</a>
                            <a asp-action="Delete" asp-route-id="@specialty.Id" class="btn btn-danger">Delete</a>

                        </td>
                    </tr>
                }


            </tbody>
        </table>


    </div>
</div>